<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center"
    fxLayoutAlign.gt-sm="center center"
    fxLayoutGap="10px"
    mat-app-background>

  <div fxFlex fxFlex.gt-sm="50%">
    <p class="large"> <fa-icon class="icon-med" [icon]="faItunes"></fa-icon> Music Searcher</p>
    <blockquote>
        <q class="medium">
          <!-- <p class="medium"> -->
              Search your favorite music here. Powered by Itunes search Api
          <!-- </p> -->
        </q>
    </blockquote>
  </div>
  <div fxFlex></div>
  <div fxFlex>
    <fa-icon class="icon-lg" [icon]="faHeadphones"></fa-icon>
  </div>
</div>
