<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>
<div class="center">

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Search.....</mat-label>
        <input [(ngModel)]="term" matInput placeholder="Search Music">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <button class="btn" (click)="search(term)"  mat-raised-button color="primary">
        <mat-icon matSuffix>search</mat-icon>
      </button>

      <h3 *ngIf="searchQuery">
        Search results for <q cite="">{{term}}</q>. Found : {{results.resultCount}}
      </h3>
        <div *ngIf="limit">
          <p>
            Due to limitation this search can only search up to 50 items.
          </p>
          <div class="space"></div>
        </div>
</div>
<div class="content" *ngIf="results.results.length > 0">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let result of results.results">

      <mat-card tabindex="0">
        <mat-card-header>
          <img mat-card-avatar src="{{result.artworkUrl30}}" alt="{{result.trackName}}">
          <mat-card-title>{{result.trackName}}</mat-card-title>
          <mat-card-subtitle>{{result.artistName}}</mat-card-subtitle>
        </mat-card-header>
        <img height="150px" mat-card-image src="{{result.artworkUrl60}}" alt="{{result.trackName}}">
        <mat-card-content>
          <p>
            <audio controls src="{{result.previewUrl}}">
              Your browser does not support the audio tag.
            </audio>
          </p>
          <p>
            <span>Price: {{ result.trackPrice | currency }}</span>
          </p>
          <p>
            <span>Genre: {{ result.primaryGenreName }}</span>
          </p>
        </mat-card-content>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>
    </div>

  </div>
</div>
