
.btn {
  border-radius: 8px;
  height: 60px;
  top: -7px;
}

.center {
  margin-top: 25px;
  text-align: center;
}

// audio {
//   width: 220px;
// }

.content {
    padding: 16px;
}

.space {
  padding-top: 15vh;
}

.content > mat-card {
    width: 200px;
}
